@charset "UTF-8";
body html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0px;

}

.bg img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

h1 {
  font-family: "Karma";
  color: white;
  font-style: italic;
  text-align: left;
  padding-left: 50px;
}

header {
  height: 110px;
  background: rgb(7, 31, 122);
  border: 1px solid #ccc;
  position: fixed;
  top: 0px;
  width: 100%;
}

.para {
  clear: left;
  float: left;
  padding: 1.5em;
  width: 33%;
  padding-top: 100px;
  display: block;
  color: white;

}
 .first{
  background-color: rgb(64, 94, 167);
  clear: right;
  float: right;
  width: 33%;
  color: white;
  display: block;
}

.second {
  background-color: rgb(55, 115, 52);
  clear: right;
  float: right;
  width: 33%;
  color: white;
  display: block;}

.third{
  background-color: rgb(141, 75, 148);
  clear: right;
  float: right;
  width: 33%;
  color: white;
  display: block;

}

ul {
  float: right;
  list-style-type: none;
  margin-top: 0px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #fff;
}

ul li a:hover {
  background-color: #fff;
  color: #000;
}

.para {
  color: white;
  display: block;
  float: center;
}

#sticky {
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  overflow: hidden;
}
