@charset "UTF-8";
body html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0px;
  background-color: rgb(65, 117, 223);
}
header {
  height: 110px;
  background: rgb(7, 31, 122);
  border: 1px solid #ccc;
  position: fixed;
  top: 0px;
  width: 100%;
}

h1 {
  font-family: "Karma";
  color: white;
  font-style: italic;
  text-align: center;
  text-shadow: black, 50px;
}

.bg img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 0px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #fff;
}

ul li a:hover {
  background-color: #fff;
  color: #000;
}

p video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}




#sticky {
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  overflow: hidden;
}
